{% extends "default.njk" %}

{% block content %}
  
  <div class="flex flex-col align-items-center gap-y-4
              w-screen h-screen bg-primary
              text-center">
  
    {% include "header.njk" %}

    {{ content | safe }}
    
  </div>
  
{% endblock %}
