@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .highlight {
        @apply underline 
    }

    .flex-column {
        @apply flex flex-col
    }

    .soft-highlight {
        @apply bg-opacity-25 bg-accent text-contrast;
    }

    ::selection {
        @apply bg-accent text-menu-accent
    }

    #selection-controls {
        @apply cursor-pointer absolute h-[40px] text-menu-accent
    }


}

html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

body>div:first-child {
    height: 100%;
    overflow: hidden;
}

.map-popup .leaflet-popup-content-wrapper {
    background-color: #6A735A;
    max-width: 200px;
    max-height: 300px;
    box-shadow: none;
    border-radius: 0.5rem;
}

.map-popup .leaflet-popup-content p {
    margin-block: 0px;
}

.map-popup .leaflet-popup-tip {
    background-color: #6A735A;
}