html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

body>div {
  height: 100%;
  overflow: hidden;
}

/* storybuilder */
.codex-editor__redactor {
  padding-bottom: 100px !important;
}

/* comment */

#selection-controls {
  cursor: pointer;
  position: absolute;
  height: 40px;
  border-radius: 2px;
  /* background-color: #6A735A; */
}
#selection-controls::before{
  position: absolute;
  content: '';
  border-top: 10px solid #6A735A;
  border-left:10px solid transparent;
  border-right: 10px solid transparent;
  left: 50px;
  top: 40px;
}

#selection-text-annotation {
  cursor: pointer;
  position: absolute;
  height: 40px;
  border-radius: 2px;
  background-color: red;
}

#selection-controls .arrow-up {
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-bottom: 1.2rem solid #6A735A;
  margin: 0 0 0 2rem;
}

::selection {
  background-color: #6A735A;
  color: #EEE2D2;
}

.highlight {
  background-color: #6A735A;
  color: #EEE2D2;
}