html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

body>div {
  height: 100%;
  overflow: hidden;
}

/* storybuilder */
.codex-editor__redactor {
  padding-bottom: 100px !important;
}

/* comment */
#selection-controls {
  cursor: pointer;
  position: absolute;
  height: 40px;
  border-radius: 2px;
  /* background-color: #6A735A; */
}
#selection-controls::before{
  position: absolute;
  content: '';
  border-top: 8px solid #6A735A;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 50px;
  top: 40px;
}


::selection {
  background-color: #6A735A;
  color: #EEE2D2;
}
