html, body {
  min-height: 100vh;
  margin: 0;
}

body>div {
  height: 100%;
}

.annotator-notice {
  display: none;
}

.annotator-filter {
  display: none;
}

.annotator-touch-widget {
  display: none;
}