---

permalink: /index.json
---

[
{% for story in stories %}
{
  "id": "{{story.id}}",
  "title": "{{story.title}}",
  "submission": "{{story.submission}}",
  "location": "{{story.location}}",
  "author_name": "{{story.author_name}}",
  "url": "{{story.url}}"
} 
{% if loop.last === false %}
  ,
{% endif %}
{% endfor %}
]