.leaflet-popup {
  background-color: #6A735A;
  
  padding: 0;
  border-radius: 0;
}
.leaflet-popup-content-wrapper {
  background-color: #6A735A;
  width: 150px;
  height: 100px;
  border-radius: 0;
  box-shadow: none;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  background-color: #6A735A;
}

.leaflet-popup-tip-container {
 color: #6A735A;
}

.leaflet-popup-tip {
  background-color: #6A735A;
  box-shadow: none;
}

.leaflet-container a.leaflet-popup-close-button {
  margin: 2px 2px 0 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
  color: transparent;
  background-image: url('/icons/Close Icon - White.svg');
  background-size: contain;
  
}

/* .custom-popup .leaflet-container a.leaflet-popup-close-button::before {
  position: absolute;
  padding: 2px 2px 0 0;
  width: 1rem;
  height: 1rem;
  background-image: url('/icons/Close Icon - White.svg');
  background-size: contain;
} */
