---
layout: default
pagination:
  data: stories
  size: 1
  alias: story
permalink: "/stories/{{ story.url }}/"
---


<div class="flex flex-col align-items-center gap-y-4
              w-screen h-screen bg-primary
              text-center relative"
        x-data="{
                open: false, 
                openInfoCard: false, 
                }">
  
  {% include "header.njk" %}

  
  <div class="overflow-y-scroll flex-1
              flex flex-col align-items-center gap-y-2
              font-display text-left
              px-4">
    <div class="px-1 text-base border">
      {{ story.title }}
    </div>
  
    <div class="flex-1 px-1 text-sm border
                flex flex-col">
      <div id="content" >
        {% for item in story.submission.blocks %}
          {{ item.data.text }}
          <br/>
        {% endfor %}
      
      </div>
      <div class="w-10 h-10 ml-auto mt-auto">
        {{ "/src/assets/img/icons/Comment Icon - Black.svg" | svgContents | safe }}
      </div>
    </div>
  
  </div>


  <div class="absolute inset-x-0 bottom-8
              bg-accent text-primary text-base
              p-4" 
      x-show="openInfoCard" x-transition>
    <div class="flex flex-col gap-y-3">
      <div class="border border-primary text-left
                  p-1 ">
        {{ story.author_name }}
      </div>
      <div class="border border-primary text-left
                  p-1">
        {{ story.location }}
      </div>
    </div>
  </div>


  <div class="flex-initial flex flex-row justify-around py-2 px-4"
      x-bind:class="open ? 'bg-accent text-primary' : 'bg-primary'"
      style="border-top: black 1.5px solid;">
    <a href="/stories">
      <div class="w-4 h-4" x-show="!open">
        {{ "/src/assets/img/icons/Back Icon - Black.svg" | svgContents | safe }}
      </div>

      <div class="w-4 h-4" x-show="open">
        {{ "/src/assets/img/icons/Back Icon - White.svg" | svgContents | safe }}
      </div>
    </a>
  
    <div>
      <div class="w-4 h-4" x-on:click="open = !open; openInfoCard = !openInfoCard;"
        x-show="!open">
        {{ "/src/assets/img/icons/Info Icon - Black.svg" | svgContents | safe }}
      </div>

      <div class="w-4 h-4" x-on:click="open = !open; openInfoCard = !openInfoCard;"
        x-show="open">
        {{ "/src/assets/img/icons/Info Icon - White.svg" | svgContents | safe }}
      </div>
    </div>
  
    <div>
      <div class="w-4 h-4" 
        x-show="!open">
        {{ "/src/assets/img/icons/Large Share Icon - Black.svg" | svgContents | safe }}
      </div>

      <div class="w-4 h-4" 
        x-show="open">
        {{ "/src/assets/img/icons/Large Share Icon -  White.svg" | svgContents | safe }}
      </div>
    </div>
  </div>
    
  
</div>


<script>
  jQuery(function ($) {
    var content = $('#content').annotator();
    {# content.annotator('addPlugin', 'Store', {
      // The endpoint of the store on your server.
      prefix: 'https://reading-room-backend.herokuapp.com/api',

      // Attach the uri of the current page to all annotations to allow search.
      annotationData: {
        'uri': window.location.href
      },

      // This will perform a "search" action when the plugin loads. Will
      // request the last 20 annotations for the current url.
      // eg. /store/endpoint/search?limit=20&uri=http://this/document/only
      loadFromSearch: {
        'limit': 20,
        'uri': window.location.href
      }
    }); #}
    content.annotator("addPlugin", "Touch");

  });
  
</script>
